<%- model_class = Space -%>
<div class="page-header">
  <h3><%= @space.title %></h3>
  <h3><small>Organization - <%= tenant_name @space.tenant_id %></small></h3>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:title) %>:</strong></dt>
  <dd><%= @space.title %></dd>
  <dt><strong><%= model_class.human_attribute_name(:details) %>:</strong></dt>
  <dd><%= @space.details %></dd>
  <dt><strong><%= model_class.human_attribute_name(:expected_completion_date) %>:</strong></dt>
  <dd><%= @space.expected_completion_date %></dd>
  <dt><strong><%= model_class.human_attribute_name(:tenant_id) %>:</strong></dt>
  <dd><%= @space.tenant_id %></dd>
</dl>
<h3>Artifacts</h3>
<%= render 'artifacts/list', artifacts: @space.artifacts %>
<br />
<br />

<%= link_to '< Back to Organization Home', root_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_tenant_space_path(space: @space, tenant: @space.tenant_id), 
              :class => 'btn btn-default' %>
<%= link_to 'Edit Space Users', users_tenant_space_path(tenant_id: @space.tenant_id, id: @space.id),
              :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              tenant_space_path(@space, @space.tenant_id),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", 
              :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
